/* This part is for Learning adding background colors and images*/
body
{
    /*Margin is a the space outside of the border
      - U can also use percents(%)*/
    margin: 0px;
    background: linear-gradient(#185a9d, #43cea2);
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: url(imagesused/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
p
{
    color: white;
}
/* This part is for Learning borders*/
#h1st{
    border-top-style: solid;
    border-bottom-style:solid;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 15px;
    border-left-width: 40px;
    border-right-width: 40px;
    border-color: grey;
    color: white;
    text-align: center;

}

#numba1{
border-style: outset;
border-width: 5px;
border-color: grey;
border-radius: 10px;
padding: 5px;
background-color: lightsteelblue;
color: black;

}
/* This part is for Learning margins*/

#numba2{
    background-color: darkkhaki;
    border-style: outset;
    border-radius: 15px;
    border-color: rgb(252, 227, 8);
    border-width: 5px;
    color: black;
    text-align: center;
}

#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 21.5px;
    background: linear-gradient(#bdc3c7, #2c3e50);


    /*Padding is the space beetwen the content and the border*/
    padding: 5px;
}

#box2{
    margin-top: 10px;
    margin-left: 5px;
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 21.5px;
    background: linear-gradient(#bdc3c7, #2c3e50);
}


/*This part is for float elements(images)*/

img{
    float: left;
}

.box{
width: 100px;
height: 100px;
border: 1px solid;
font-size: 30px;
text-align: center;
background: red;
}


/* This part is for pseudo code*/
a:link{

    color: lawngreen;

}

a:visited{

    color:grey;
}

a:hover{

    color: #43cea2;

}


a:active{

    color: yellow;

}

button:hover{

    background-color: aquamarine;

}

button:active{

background-color: chartreuse;
}

/*
li:nth-child(3){

background-color: yellow;


}
*/

/*
li:nth-child(even){
    background-color: red;

}


li:nth-child(odd){

    background-color: #185a9d;
}
*/


li:nth-child(3n + 3){

    background-color: red;
}